jednokryterialne/__pycache__
jednokryterialne/out
wielokryterialne/__pycache__
wielokryterialne/out
framsticks/__pycache__
framsticks/parent1.gen
framsticks/parent2.gen
framsticks/toEvaluate.gen
framsticks/front.gen
Framsticks50rc14